.App {
  text-align: center;
  margin-left: 30px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.greenPercentage {
  color: green
}

.yellowPercentage {
  color: #ffcc00;
}

.redPercentage {
  color: red;
}