.App {
  text-align: center;
  margin-left: 30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainContainer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.greenPercentage {
  color: green;
}

.yellowPercentage {
  color: rgb(255, 217, 0);
}

.redPercentage {
  color: orangered;
}


.students-pictures {
  max-width: 300px;
  height: auto;
}

.outer-paper {
  padding: 30px 50px;
}

.editButton {
  padding: 10px 25px;
  background-color: coral;
  color: white;
  margin-top: 40px;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  margin-bottom: 40px;
  font-weight: 500;
}

.editButton:hover {
  background-color: indianred;
}

.colors-selector {
  margin-right: 30px;
  width: 150px;
  margin-left: 10px;
  height: 35px;
}

.colors-percentages {
  border: 0.5px solid #b6b6b6;
  border-radius: 3px;
  padding: 10px 50px;
  margin-right: 45%;
  margin-bottom: 40px;
  margin-top: 50px;
}

.editForm {
  margin-bottom: 30px;
  margin-top: 30px;
}

.editForm Button {
  margin-left: 30px;
}

.evaluationLabel {
  margin-left: 20px;
}


.students-list .delete-student {
  margin-right: 30px;
}

.students-list .edit-student {
  background-color: rgb(255, 94, 0);
}

.addStudentForm {
  margin-bottom: 50px;
}

.addClassForm {
  margin-bottom: 50px;
}

.chooseRandomStudent .Button {
  border: 1px dotted #f3f3f3;
}

.addStudent {
  margin-top: 50px;
}

.colorsBatch {
  margin-bottom: 30px;
}